# Database
PSQL_DB=smartjournal
PSQL_USER=admin
PSQL_PASSWORD=password
DATABASE_URL=postgres://admin:password@localhost:5432/smartjournal?sslmode=disable
DATABASE_URL_API = postgres://admin:password@postgres_container:5432/smartjournal?sslmode=disable
PSQL_PORT=5432

# Blockchain
CONTRACT_ADDRESS=0xYourContractAddress
RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
CONTRACT_ADMIN_PRIVATE_KEY=your_contract_admin_private_key

# LLM Service
GROQ_API_KEY=gsk_ваш_ключ_от_groq
AI_SERVICE_URL=http://localhost:8000

# App
PORT=3000