DATABASE_URL=postgres://admin:password@localhost:5432/smartjournal?sslmode=disable
RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
CONTRACT_ADDRESS=0xYourContractAddress
CONTRACT_ADMIN_PRIVATE_KEY=your_contract_admin_private_key
PORT=3000
PSQL_DB=smartjournal
PSQL_USER=admin
PSQL_PASSWORD=password
PSQL_PORT=5432
PSQL_HOST=postgres